.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #333333;
    font-family: 'Inconsolata', monospace;
    color: white;
}
.body-home {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    flex-direction: row;
    background-color: #333333;
    font-family: 'Inconsolata', monospace;
    color: white;
}
.box-2 {
    width: 600px;
    height: 600px;
    display: flex;
    /*background: url("img/1.png");*/

}
a{
    color: yellow;
}


/*******************popup***************************/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 70%;
    min-height: 50%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.popup3 .content-role {
    max-height: 40%;
    min-height: 40%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.popup4 .content-new-role {
    max-height: 10%;
    min-height: 10%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.popup .content-page {
    max-height: 50%;
    min-height: 45%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.popup .content-2 {
    max-height: 15%;
    min-height: 15%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}


