# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\epic-intern\struts2-login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
